<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="PageSize" value="20"/>
	<add key="MaxPage" value="5"/>


	<add key="SMTPHost" value="smtp.live.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="hoaboy89@outlook.com.vn"/>
	<add key="FromEmailPassword" value="838384736747"/>
	<add key="FromName" value="Vjetgolang"/>
	<add key="AdminEmail" value="hoahuunguyen.dev@gmail.com"/>
	<add key="CurrentLink" value="https://localhost:44327/"/>
</appSettings>