<div>
    <div ng-hide="(!pagesCount || pagesCount < 2)" style="display:inline">
        <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link" ng-hide="page == 0" ng-click="search(0)"><<</a></li>
            <li class="page-item"><a class="page-link" ng-hide="page == 0" ng-click="search(page-1)"><</a></li>
            <li class="page-item" ng-repeat="n in range()" ng-class="{active: n == page}">
                <a class="page-link" ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
                <a class="page-link active" ng-if="n == page"><span>{{n+1}}</span></a>
            </li>

            <li class="page-item"><a class="page-link" ng-hide="page == pagesCount - 1" ng-click="search(pagePlus(1))">></a></li>
            <li class="page-item"><a class="page-link" ng-hide="page == pagesCount - 1" ng-click="search(pagesCount - 1)">>></a></li>
        </ul>
    </div>
</div>
