@{Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị</title>
    @*<link href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">*@
    <link href="~/Assets/admin/libs/Font-Awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />

    <!-- Theme style -->
    @*<link rel="stylesheet" href="../../dist/css/adminlte.min.css">*@
    <link href="~/Assets/admin/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="hold-transition sidebar-mini" ng-app="vjetecommerce" ng-controller="rootController">
    <div ui-view></div>

    <!-- jQuery -->
    @*<script src="../../plugins/jquery/jquery.min.js"></script>*@
    <script src="~/Assets/admin/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    @*<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/Assets/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Assets/admin/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @*<script src="/Assets/admin/js/demo.js"></script>*@
    <!-- Angularjs -->
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.js"></script>
    <script src="~/Assets/admin/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/admin/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/admin/libs/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.js"></script>

    <script src="~/app/shared/modules/vjetecommerce.common.js"></script>
    <script src="~/app/shared/services/commonService.js"></script>
    <script src="~/app/shared/filters/statusFilter.js"></script>
    <script src="~/app/shared/services/apiService.js"></script>
    <script src="~/app/shared/directives/pagerDirective.js"></script>
    <script src="~/app/shared/services/notificationService.js"></script>
    <script src="~/app/shared/services/authData.js"></script>
    <script src="~/app/shared/services/authenticationService.js"></script>
    <script src="~/app/shared/services/loginService.js"></script>

    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/product_categories/productCategories.module.js"></script>
    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/product_categories/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryAddController.js"></script>
    <script src="~/app/components/product_categories/productCategoryEditController.js"></script>
    <script src="~/app/components/products/productAddController.js"></script>
    <script src="~/app/components/products/productEditController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/login/loginController.js"></script>
</body>
</html>